* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", serif;
  text-align: center;
  padding: 0.5rem;
}

form label {
  display: block;
  margin: 0.5rem 0;
}

form input, form select {
  margin-left: 0.2rem;
}
